.form {
  .fieldset {
    border: none;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    gap: 1rem;

    label {
      grid-column: 1 / 2;
    }

    input {
      grid-column: 2 / 4;
    }

    .submit {
      grid-column: 3 /4;
    }
  }
}
