.app {
  height: 100vh;
  display: grid;
  grid-template-columns: 1rem 30rem 1fr 1rem;
  grid-template-rows: 1rem repeat(5, 1fr) 1rem;

  .map {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
  }

  .menu {
    z-index: 1000;
    position: fixed;

    top: $layout-main-margin;
    left: $layout-main-margin;
  }
}
