.btn {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $container-padding--sm;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: $container-radius;
  text-transform: uppercase;
  width: min-content;
  @include box-shadow-y--small(var(--color-shadow-dark));

  &--round {
    border-radius: 50%;
  }

  &--white {
    background-color: var(--color-white);
    box-shadow: none;

    &:hover {
      background-color: var(--color-grey-light-1);
      box-shadow: 0 0.1rem 0.05rem var(--color-grey-light-4);
    }

    &:active {
      transform: translateY(0.1rem);
      box-shadow: 0 0.05rem 0.05rem var(--color-grey-light-4);
    }
  }

  &--primary {
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 1rem 2.5rem;

    &:hover {
      background-color: var(--color-blue-light);
    }

    &:active {
      transform: translateY(0.1rem);
    }
  }

  &--delete {
    background-color: var(--color-grey-dark-3);
    &:hover {
      color: var(--color-danger);
    }
  }
}
