.menu {
  &__chk {
    display: none;
  }

  &__icon {
    position: relative;
    margin-right: 1rem;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
    }

    &::before {
      top: -$hamb-menu-gap;
    }

    &::after {
      top: $hamb-menu-gap;
    }
  }

  &__icon,
  &__icon::before,
  &__icon::after {
    display: inline-block;
    width: 2.5rem;
    height: 1.75px;
    transition: all 0.2s;
    background-color: var(--color-grey-dark-1);
  }

  &__chk-lbl {
    width: min-content;
    height: $hamb-menu-sizes;
    padding: 0 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @include box-shadow-y(var(--color-shadow-dark));
    background-color: var(--color-grey-light-2);
    transition: all 0.2s;

    &:hover .menu__icon::before {
      top: -$hamb-menu-gap--bigger;
    }

    &:hover .menu__icon::after {
      top: $hamb-menu-gap--bigger;
    }
  }

  &__chk:checked + &__chk-lbl {
    box-shadow: none;
  }

  &__chk:checked + &__chk-lbl &__icon {
    background-color: transparent;
  }
  &__chk:checked + &__chk-lbl &__icon::before,
  &__chk:checked + &__chk-lbl &__icon::after {
    top: 0;
  }
  &__chk:checked + &__chk-lbl &__icon::before {
    transform: rotate($hamb-menu-rotate-deg);
  }
  &__chk:checked + &__chk-lbl &__icon::after {
    transform: rotate(-$hamb-menu-rotate-deg);
  }

  &__chk:checked ~ &__content {
    width: 28rem;
    height: min-content;
    top: -$padding;
    left: -$padding;
    @include box-shadow-y(var(--color-shadow-dark));

    .workouts {
      visibility: visible;
      transform: translateX(0);
    }
  }

  &__content {
    background-color: var(--color-white--transp);
    width: inherit;
    height: $hamb-menu-sizes;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 2rem;
    transition: all 0.3s cubic-bezier(0.83, 0, 0.17, 1);

    .workouts {
      margin-top: 5rem;
      visibility: hidden;
      transform: translateX(-100rem);
    }
  }
}
