.workouts {
  &__container {
    overflow-y: scroll;
    background-color: var(--color-grey-light-4--transp);
    padding: $container-padding;
    border-radius: $container-radius;
    @include box-shadow-y(var(--color-shadow-light));
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, min-content);
    grid-auto-rows: min-content;
    gap: $layout-gap;
  }
}
