.workouts {
  margin-top: $margin;
  border-bottom-left-radius: $container-radius;
  border-bottom-right-radius: $container-radius;
  max-height: 90vh;
  display: grid;
  grid-template-rows: 1rem 1fr 2rem;
  grid-template-columns: 1rem 1fr 1rem;

  &__container {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, min-content);
    grid-auto-rows: min-content;
    gap: $layout-gap;
  }
}
