:root {
  --color-pink: #eb2f64;
  --color-pink-light: #ff3366;
  --color-pink-dark: #ba265d;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --color-blue: #0385d6;
  --color-blue-dark: #01395c;
  --color-blue-light: #24a9fb;

  --color-white: #ffffff;

  --color-error: #ff0000;
  --color-danger: #bb2828;
  --color-invalid: #ffcc00de;
  --color-action: #fd6a00;

  --color-shadow-dark: rgba(0, 0, 0, 0.5);
  --color-shadow-light: rgba(0, 0, 0, 0.25);
}
