$layout-gap: 1rem;
$layout-gap--sm: 0.5rem;
$layout-gap--xs: 0.25rem;
$container-padding: $layout-gap;
$container-padding--sm: 0.5rem;
$container-radius: 0.5rem;
$container-radius--sm: 0.25rem;

$margin: 1rem;
$margin--sm: 0.5rem;
$margin--xs: 0.25rem;
$padding: 1rem;
$padding--sm: 0.5rem;
$padding--xs: 0.25rem;
$border-radius: $padding;
$border-radius--sm: $padding--sm;
$border-radius--xs: $padding--xs;

$hamb-menu-sizes: 4rem;
$hamb-menu-rotate-deg: 135deg;
$hamb-menu-gap: 0.7rem;
$hamb-menu-gap--bigger: 0.75rem;
